@import url('http://fonts.googleapis.com/earlyaccess/notosansjapanese.css');
@import url('https://fonts.googleapis.com/css?family=Yesteryear');

body {
  font-family: 'Noto Sans Japanese', sans-serif;
  color: #50514f;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

header, main, footer {
  background-color: #f0f0f0;
}

.logo-font {
    font-family: "Yesteryear";
    font-size: 33px;
}

p.text {
  padding-bottom: 20px;
}

p.err_text {
  padding: 0 20px 20px 20px;
  color: #FF0000;
}

.pointer {
	cursor: pointer;
}

.upload_avator {
  height: 45px;
  width: 45px;
  border-radius: 50%;
}

.fixed-action-btn-mobile {
  position: fixed;
  right: 3px;
  bottom: 3px;
  padding-top: 15px;
  margin-bottom: 0;
  z-index: 998;
}

div.upload_user {
	padding: 12px 10px 0 10px;
	font-size: 1.3em;
}

div.followbox {
	width: 80px;	
}

p.follow {
	margin-top: 0;
	padding: 0;
	font-size: 12px;
}

/* アイコンサイズ */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* 背景が明るいとき用のアイコン色 */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* 背景が暗いとき用のアイコン色 */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.brand-logo-font {
  font-family: 'Yesteryear';
}

.navigation {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  /*
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  */
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  box-sizing: border-box;
}

.nav-position {
  margin-top: 12px;
  margin-bottom: 8px;
}

.navigation-link {
  color: #424242;
  text-decoration: none;
  font-size: 24px;
  line-height: 60px;
  letter-spacing: 0;
  opacity: .87;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 400;
}

.navigation .navigation-link .material-icons {
  color: #424242;
  text-decoration: none;
  margin-right: 45px;
  font-size: 24px;
  line-height: 60px;
  letter-spacing: 0;
  opacity: .87;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 400;
}

.card-nav-link {
  text-decoration: none;
  font-size: 13px;
  letter-spacing: 0;
  opacity: .87;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -ms-flex-align: center;
  font-weight: 400;
}